.footerMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%; /* You may need to set height to 100% if the parent container's height is not set */
}
